<div class="col-sm-6">
    <div class="card mt-3" style="width: 200%;">
      <div class="card-body">
        <h5 class="card-title">{{ctodo.title}}</h5>
        <p class="card-text">{{ctodo.desc}}</p>
        <p class="card-text">
            <b class="text-primary">Due Date : {{ctodo.dueDate.toLocaleString()}}</b><br>
            <b class="text-primary">Last updated : {{ctodo.curDate.toLocaleString()}}</b>  
        </p>
      
        <a  class="btn btn-danger card-link">Delete</a>
        <!--a  class="btn btn-primary card-link">Update</a-->     
      </div>
    </div>
  </div>