<form>
    <div class="mb-3">
        <label for="titleID" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="descID" class="form-label">Description</label>
        <textarea class="form-control" id="descID" rows="3" id="desc"></textarea>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="dueDateID">Due Date</span>
        <input type="date" class="form-control" id="dueDate" name="dueDate">
    </div>
    <input type="button" (click)="add()" class="btn btn-primary" value="Add Todo">
</form>